@{
    Layout = null; // Anula el layout para esta vista
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Baja grupo</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-verion="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
</head>
<body>
    <center>
        <img src="~/imagenes/Quarky-removebg-preview.png" style="width: 40%; height: auto;">
        <h2>GRUPO DADO DE BAJA CON EXITO</h2>
    </center>
</body>
<script src="~/js/site.js" asp-append-version="true"></script>
</html>