<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Header</title>
	<link rel="stylesheet" type="text/css" href="estilos_header.css">
	<link href="<link href=https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
	<title></title>
    
</head>
<body style="background-color: #651f71;">
    <div class="container" class="menu-button">
        <button class="button-top-left"><a><img src="Imagenes/Return.png" style="width: 100%; height: auto;"></a></button>
        <button class="button-top-right" class="menu-button"><a><img src="Imagenes/user.png" style="width: 100%; height: auto;"></button>
        <ul class="menu">
            <li><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
            <li><a href="#">Item 3</a></li>
        </ul>
    </div>
</body>
</html>