@{
    Layout = null; // Anula el layout para esta vista
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Videojuego</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
</head>
<body>
    <center>
        <iframe frameborder="0" src="https://itch.io/embed-upload/8921041?color=333333" allowfullscreen="" width="800" height="620"><a href="https://omaration21.itch.io/quarky">Play Quarky on itch.io</a></iframe>
        <button onclick="history.back()">Go Back</button>
    </center>
</body>
</html>
