@{
    Layout = null; // Anula el layout para esta vista
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Calificaciones</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-verion="true" />
    <link href="<link href=https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <title></title>

</head>
<body>
    <table style="width: 1500px;" align="top">
        <br>
        <br>
        <tr align="center">
            <td colspan="50" align="center"><p>Alumno</p></td>
        </tr>
        <tr align="center">
            <td colspan="30">Nombre</td>
            <td colspan="8">Niveles completados</td>
            <td colspan="7">Porcentaje</td>
            <td colspan="6">Calificacion</td>

        </tr>
        <tr></tr>
        <tr align="center">
            <td colspan="10">Nombre</td>
            <td colspan="8">Niveles completados</td>
            <td colspan="7">Porcentaje</td>
            <td colspan="6">Calificacion</td>
        </tr>

    </table>
    <button onclick="history.back()">Go Back</button>

</body>
</html>